<h1>New time_sheet_entry</h1>

<form id="new-time_sheet_entry" name="time_sheet_entry">
  <div class="field">
    <label for="starts_at"> starts_at:</label>
    <input type="text" name="starts_at" id="starts_at" value="<%= starts_at %>" >
  </div>

  <div class="field">
    <label for="ends_at"> ends_at:</label>
    <input type="text" name="ends_at" id="ends_at" value="<%= ends_at %>" >
  </div>

  <div class="field">
    <label for="starts_at"> starts_at:</label>
    <input type="text" name="starts_at" id="starts_at" value="<%= starts_at %>" >
  </div>

  <div class="field">
    <label for="user_id"> user_id:</label>
    <input type="text" name="user_id" id="user_id" value="<%= user_id %>" >
  </div>

  <div class="field">
    <label for="summary"> summary:</label>
    <input type="text" name="summary" id="summary" value="<%= summary %>" >
  </div>

  <div class="field">
    <label for="content"> content:</label>
    <input type="text" name="content" id="content" value="<%= content %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Time sheet entry" />
  </div>

</form>

<a href="#/index">Back</a>