<div class="well well-outline">
  <div class="page-header">
  <h1>Show topic <small></small></h1>
  </div>

  <div class="time-sheet-entry-details">
    <p>
      <b>Starts at:</b>
      <%= starts_at %>
    </p>

    <p>
      <b>Ends at:</b>
      <%= ends_at %>
    </p>

    <p>
      <b>Starts at:</b>
      <%= starts_at %>
    </p>

    <p>
      <b>User:</b>
      <%= user_id %>
    </p>

    <p>
      <b>Summary:</b>
      <%= summary %>
    </p>

    <p>
      <b>Content:</b>
      <%= content %>
    </p>
  </div>

  <a href="#/tse/<%= id %>/edit">Edit</a>
  <a href="#/tse/index">Back</a>
</div>
