<p id="notice"><%= notice %></p>

<p>
  <b>Starts at:</b>
  <%= @time_sheet_entry.starts_at %>
</p>

<p>
  <b>Ends at:</b>
  <%= @time_sheet_entry.ends_at %>
</p>

<p>
  <b>Starts at:</b>
  <%= @time_sheet_entry.starts_at %>
</p>

<p>
  <b>User:</b>
  <%= @time_sheet_entry.user_id %>
</p>

<p>
  <b>Summary:</b>
  <%= @time_sheet_entry.summary %>
</p>

<p>
  <b>Content:</b>
  <%= @time_sheet_entry.content %>
</p>


<%= link_to 'Edit', edit_time_sheet_entry_path(@time_sheet_entry) %> |
<%= link_to 'Back', time_sheet_entries_path %>
